<div>
  <div class="container-block">
<div id="images-slider">
<input class="thumbnail-tab" type="radio" name="tabs-state" id="slide-one">
<input class="thumbnail-tab" type="radio" name="tabs-state" id="slide-two">
<input class="thumbnail-tab" type="radio" name="tabs-state" id="slide-three">

<div class="image-holder">
   <img src="/assets/image_3.jfif" alt class="image-content-slide" id="slide-one-image"><img src="/assets/image_2.jfif" alt class="image-content-slide" id="slide-two-image"><img src="/assets/image_1.jfif" alt class="image-content-slide" id="slide-three-image">
  <i class="thumbnail-highlted-one thumbnail-highlted">&nbsp;</i><i class="thumbnail-highlted-two thumbnail-highlted">&nbsp;</i><i class="thumbnail-highlted-three thumbnail-highlted">&nbsp;</i>
</div>
<div class="thumbnails-block">
    <label for="slide-one" class="slide-thumbnail" id="slide-one-header">&nbsp;</label>
    <label for="slide-two" class="slide-thumbnail" id="slide-two-header">&nbsp;</label>
 <label for="slide-three" class="slide-thumbnail" id="slide-three-header">&nbsp;</label>   
</div>
</div>
</div>
</div>
<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">
        <span style="font-family: 'Bree Serif', serif;">APPLY NOW</span>
      </div>
      <div class="panel-body">
       <form #countryForm="ngForm" name="form" (ngSubmit)="country1.value !== country2.value && countryForm.form.valid && onSubmit()" novalidate>
       <div class="row">
        <div class="col-sm-12 paneldown">
        <div class="col-sm-6">
        <div class="form-group">   
        
        
        <label for="country1">I am citizen  of</label>
        <input
          required
          list="countries"
          [(ngModel)]="model.contry1"
          name="country1"
          #country1 = "ngModel"
          [ngClass]="{ 'is-invalid': countryForm.submitted && country1.invalid  }"
          placeholder="select country you from"
          id="country1" 
          class="form-control">
          <datalist id="countries">
            <option  *ngFor ='let country of countries'> {{country.name}}</option>
          </datalist>
          <div class="alert alert-danger" *ngIf="!country1.valid && country1.touched" >this is required</div>
          </div>
          </div>
  
          <div class="col-sm-5">
          <div class="form-group">
          <label for="country2">I am living in</label>
          <input 
            list="countries" 
            name="country2"
            #country2 = "ngModel"
            [(ngModel)]="model.contry2"
            required
            [ngClass]="{ 'is-invalid': (countryForm.submitted && country2.invalid)}"
            placeholder="select country you are living"
            id="country2"
            
            class="form-control">
            <datalist id="countries">
            <option  *ngFor ='let country of countries'> {{country.name}}</option>
            </datalist>
            <div class="alert alert-danger" *ngIf="!country2.valid && country2.touched">This is required</div>
            <div class="alert alert-danger" *ngIf="country1.value == country2.value && country2.touched">Both countries can't be same</div>
          </div>
          </div>
          
          <div class="col-sm-1"> 
            <div class="form-group">
            <button class="btn btn-success go">GO</button>
          </div>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  </div> 
  